body{
    margin: 0;
    padding: 0;
    background-color:var(--light);
    font-family: "SegoeUI";
}
/* font */
@font-face {
    font-family: "Fluent Icons";
    src: url(../assets/fonts/Icons.woff2) format("woff2");
  }
  @font-face {
    font-family: SegoeUI;
    src: "Segoe UI", url(../assets/fonts/Segoe-400.woff2) format("woff2");
    font-weight: 400;
  }
  @font-face {
    font-family: SegoeUI;
    src: "Segoe UI", url(../assets/fonts/Segoe-100.woff2) format("woff2");
    font-weight: 100;
  }
  @font-face {
    font-family: SegoeUI;
    src: "Segoe UI", url(../assets/fonts/Segoe-200.woff2) format("woff2");
    font-weight: 200;
  }
  @font-face {
    font-family: SegoeUI;
    src: "Segoe UI", url(../assets/fonts/Segoe-600.woff2) format("woff2");
    font-weight: 600;
  }
  @font-face {
    font-family: SegoeUI;
    src: "Segoe UI", url(../assets/fonts/Segoe-700.woff2) format("woff2");
    font-weight: 700;
  }
:root{
    --dark:#000;
    --light:#fff;
    --head-1:#17253d;
    --bg-1:#f4fafd;
    --head-2:#0e1726;
}

/*--------------- header start ----------------*/

header{
    margin-bottom: 34px;
    margin-top: 0;
    display: block;
    box-sizing: border-box;
    min-width: 280px;
}
.header-main{
    border-bottom: 1px solid #e6e6e6;
    height: 53px;
    padding: 0;
    background-color: var(--light);
    display: block;
    overflow-x: visible;
}
.head-inner{
    position: relative;
    padding: 2px 0;
    margin: 0;
    display: flex;
    max-width: 1600px;
    height: 100%;
}

/* ----------menu button----------- */

.menu-btn{
    padding: 6px 0 8px 0;
    margin: 1px;
    width: 48px;
    height: 48px;
    float: left;
    display: block;
    background: transparent;
    cursor: pointer;
    max-width: 374px;
    overflow: hidden;
    white-space:nowrap;
    border: none;
}
.menu-btn i{
    width: 20px;
    height: 20px;
    font-size: 20px;
    line-height: 15px;
    margin-top: 5px;
}

/* -----------end menu-------- */

/*---------- search conatiner -------------*/

.search{
    margin: 0;
    float: right;
    display: flex;
    flex: 1 0 auto;
    position: relative;
}
/* -----------search button ---------*/
.search-btn{
    position: absolute;
    left: 1px;
    padding: 8px 8px 8px 0;
    border: none;
    height: 32px;
    background: transparent;
    width: 34px;
    white-space: nowrap;
    margin: 3px 6px 1px 2px;
    float: left;
    cursor: pointer;
}
.search-inner{
    display: block;
    margin: 6px 0;
    float: left;
    /* max-width: 296px; */
    height: 38px;
}
.search-btn i{
   display:inline-block;
   font-size: 16px;
   margin-left:2px;
   position: relative;
}
/*------------ search end --------------*/
/* ------------logo------------------- */
.search a{
    margin: 1px;
    padding: 9px 4px 12px;
    display: block;
    position:absolute;
    left: calc(50% - 85px);
    height: auto;
    text-decoration: none;
    cursor: pointer; 
    flex-grow: 1;   
}
.logo{
    margin:-3px 0px 0px 0px;
    width: 108px;
    display: block;
    margin: 0;
    border: none;
    cursor: pointer;
}
/*-------------- logo end --------------*/
/*--------------- nav start------------ */
.nav{
    position: absolute;
    left: 0;
    top: 54px;
    width: 100%;
    height:33px;
    border-bottom: 1px solid #e6e6e6;
    color: var(--dark);
    background: var(--light);
    float: right;
}
.nav-btn{
    background: transparent;
    border: 0;
    color: var(--dark);
    display: block;
    font-weight: 550;
    height: 100%;
    font-size: 15px;
    font-family: "SegoeUI";
    line-height: normal;
    margin: 0 1px;
    padding: 0 15px;
    text-align: left;
    cursor: pointer;
}
.nav-btn::after{
    font-family:  "FabricMDL2Icons";
    content: "";
    font-size: 12px;
    font-weight: 700;
    position: relative;
    top: 2px;
    color: var(--dark);
    text-align: left;
    cursor: pointer;
    padding-left: 11px;
}
/*------------ end of nav--------- */
/*-------- fixed chat ------------*/
.chat{
    display:none;
}
.chat-con{
    position: fixed;
    right: 1rem;
    bottom: 0;
    z-index: 1030;
    text-align: left;
    display: flex;

}
.chat-con button{
    padding: 0.75rem;
    padding-left:2.185rem;
    cursor: pointer;
    border: 2px solid transparent;
    font-weight: 600;
    font-size: .9375rem;
    line-height: 1.375rem;
    letter-spacing: -.02em;
    background-color:#0067b8;
    color: var(--light);
    display: inline-block;
    position: relative;
    margin: 0;
    box-sizing: border-box;
    border-radius: .5rem;
    font-family: "SegoeUI";
}
.chat-con button::after{
    font-family: "Fluent Icons";
    content: "";
    font-weight: 400;
    line-height: 1;
    position: absolute;
    top: 50%;
    left: .75rem;
    margin-top: -.5em;
    color: #fff;
    font-size: .9375rem;
    letter-spacing: -.02em;
}
/* ------------home container-------------- */
.home{
    /* min-height: 580px; */
    padding: 0 0 56px 0;
}
/*------------ home image section----------  */
.home-img{
    max-height: 100%;
    overflow: hidden;
    display: block;
    box-sizing: border-box;
}
.home-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: initial;
    box-sizing: border-box;
}
/* ---------end of home image section--------- */
/* -----------section content---------------- */
.content{
    padding: 0 1rem;
    width: 100%;
    margin-inline: auto;
    box-sizing: border-box;
    display: block;
    background-color:var(--bg-1);
    border-bottom: 1px solid #e6e6e6;
    margin-top: -2px;
}
.content-inner{
    display: flex;
    flex-wrap: wrap;
    margin-inline:-0.25rem;
}
.con-main{
    padding: 0.25rem;
}
.content-container{
    margin-top: 1.563rem;
    display: flex;
    flex-direction: column;
    column-gap: 0.75rem;
    flex-wrap: wrap;
    row-gap: 0.5rem;
    box-sizing: border-box;
}
.con-content{
    flex-grow: 0;
    flex-shrink: 0;
}
/*------------- content-1--------------- */
.content-1{
    margin: 0 0 0.625rem;
    display: block;
}
.content-heading-1{
    color:var(--head-1);
    font-weight: 600;
    font-size: 0.75rem;
    line-height: 1.18rem;
    letter-spacing:0.08em;
    font-family: "SegoeUI";
}
/*------------content-2---------------*/
.content-2{
    margin: 0;
    color: var(--head-2);
    display: block;
    padding: 0;
}
.content-2 h1{
    font-weight: 600;
    font-size: 2rem;
    line-height: 2.5rem;
    letter-spacing: -0.05em;
    margin: 0;
    font-family: "SegoeUI";
}
/*----------------- content-3 ----------*/
.content-3{
    margin: 1rem 0 0;
    color: var(--head-2);
    padding-right: 1rem;
    box-sizing: border-box;
    display:block;
}
.content-para{
    display: contents;
    box-sizing: border-box;
    color: var(--head-2);
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.75rem;
    letter-spacing: -0.03em;
    font-family: "SegoeUI";
}
/*---------- content 4----------- */
.content-4{
    margin: 1.5rem 0 0;
    box-sizing: border-box;
    display: block;
}
.content-4-inner{
    display: flex;
    flex-direction: column;
    gap:0.5rem;
    box-sizing:border-box
}
.content-4-inner a{
    padding: 0.75rem;
    font-weight: 600;
    font-size: .9375rem;
    line-height:  1.375rem;
    letter-spacing: -0.02em;
    border-radius: 0.5rem;
    display: inline-block;
    position: relative;
    text-decoration:none;
    cursor: pointer;
    box-sizing: border-box;
    font-family: "SegoeUI";
}
.content-4-inner a span{
    padding-bottom: 0.125rem;
    display: block;
    text-align: center;
    box-sizing: border-box;
}
 #con-4-a1{
    border:2px solid transparent;
    background-color: #0078d4;
    color: var(--light);
}
#con-4-a2{
    background-color: transparent;
    border:2px solid var(--head-1);
    color: #004275;
}
.content-space{
    height: 91px;
    background: var(--bg-1);
}
/* -----------end of the contend section----------*/
/*-------------home end----------------------*/
/*-------------future-news------------------*/
.future-news{
    display: block;
    box-sizing: border-box;
    
}
/*------------future nav section--------------*/
.future-nav{
    height: 60px;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /* border-radius: 0.5rem; */
    box-shadow:  0 0.125rem rgba(0, 0, 0, 0.12),0 0.125rem 0.25rem rgba(0, 0, 0, 0.14);
    background-color: #fefefe;
    padding: 0;
    /* position: sticky;
    z-index: 500;
    top:0    */
    width: 100%;
    overflow: hidden;
}
.f-nav-inner{
    margin: 0.25rem;
    position: static;
    flex-grow: 1;
    background-color: #fefefe;
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    color: #0067b8;
}
.f-nav-container{
    padding: 0.75rem;
    display: flex;
    column-gap: 0.5rem;
    align-items: center;
    box-sizing: border-box;
    cursor: pointer;
    color: #0067b8;
}
.f-nav-content-1{
    display: flex;
    flex-grow: 1;
    box-sizing: border-box;
    cursor: pointer;
    color: #0067b8;
}
.inner-nav-content-1{
    display: contents;
    box-sizing: border-box;
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 1.25rem;
    letter-spacing: -0.035em;
    text-align: left;
    font-family: "SegoeUI";
    color: #004275;
}
.f-nav-content-2{
    display: block;
    align-self:self-end;
    box-sizing: border-box;
    margin-right: 7.5px;
}
/* .drop-img{
    width: 15.53px;
    height: 16px;
    font-size: 1rem;
    display: inline-flex;
    color: #0078d4;
    box-sizing: border-box;
} */
.drop-img span::after{
    content: "";
    font-family: "Fluent Icons";
    font-weight: 400;
    line-height: 1;
    box-sizing: border-box;
    font-size: 1rem;
    cursor: pointer;
}
.f-nav-space{
    height: 0.25rem;
    width: 100%;
    background-color: #004275;
    box-shadow:  0 0.125rem rgba(0, 0, 0, 0.12),0 0.125rem 0.25rem rgba(0, 0, 0, 0.14);
}
/*---------end of the future nav-----------*/
/*---------future main container----------*/
.feature-content{
    display: block;
    box-sizing: border-box;
    text-align: left;
    position: relative;
    padding:3.5rem 1rem ;
    background-image: url(assets/future.avif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.feature-head{
    display: block;
}
.f-head-content{
    display: block;
}
.f-head1{
    display: block;
    margin: 0 0 0.75rem;
    font-weight: 600;
    font-size: 0.75rem;
    line-height: 1rem;
    letter-spacing: 0.08em;
}
.f-head2{
    display: contents;
}
.f-head2 h2{
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 2rem;
    letter-spacing: -0.05em;
    margin: 0;
}
.f-card-container{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.f-inner-card-con{
    display: flex;
    padding-inline: 0.25rem;
}
.f-card{
    display:flex;
    flex: 0 0 100%;
    background-color: #fefefe;
    box-shadow:  0 0.125rem rgba(0, 0, 0, 0.12),0 0.125rem 0.25rem rgba(0, 0, 0, 0.14);
    flex-direction: column;
    min-width: 1px;
    border-radius:1rem;
    height: 100%;
}
.f-image-con{
    display: flex;
    flex-direction: row;
}
.f-image{
    margin: 0.5rem 0.5rem 0;
    width: 100%;
    height: 100%;
    display: block;
}
.f-image img{
max-width: 100%;
height: auto;
object-fit: cover;
border-radius: 0.5rem;
aspect-ratio: 2.33333/1;
width: 100%;
}
.f-content-con{
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    padding: 1rem;
    justify-content: space-between;
    position: relative;
    min-width: 1px;
    word-wrap: break-word;
    height: 100%;
}
.f-text-con{
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    text-align: left;
    align-items: flex-start;
}
.f-t-head-con{
    display: flex;
    flex-direction: row;
    gap: 0.25rem;
}
.f-t-head{
    display: contents;
}
.f-t-head h3{
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 1.5rem;
    letter-spacing: -0.03em;
    margin: 0;
}
.f-para{
    display: block;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: -0.03em;
    color: #17253d;
}
.f-link{
    margin-top: 2rem;
    display: flex;
    justify-content: flex-start;
    gap: initial;
}
.f-link a{
    display: inline-flex;
    gap: 0.5rem;
    align-items: center;
    text-decoration: none;
}
.f-link-btn{
    display: flex;
    gap: 0.25rem;
    padding: 0.625rem 0.617rem; ;
    justify-content: center;
    background-color:#0078d4;
    border-radius: 0.5rem;
    color: var(--light);
}
.f-link-btn span{
    display: flex;
    align-items: center;
}
.f-link-btn span::before{
    content: "";
    font-weight: 400;
    line-height: 1;
    color: #fff;
    font-size: .9375rem;
    font-family: "Fluent Icons";
}
.f-link a .text{
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 1.25rem;
    letter-spacing: -0.032em;
    color: rgb(0, 66, 117);
    margin-top: -1px;
}

/*----------- end of the cards section ----------*/

/*---------------- end of the future section -----------*/

/*------------- solution section -------------------*/
.solution-container{
    background-color:#f4fafd;
    display: block;
    padding: 3.25rem 0 3.5rem;
    position: relative;
    background-color: rgb(244, 250, 253);
    box-sizing: border-box;
}
 .solution{
    display: block;
    padding-right: 1rem;
    padding-left: 1rem;
    width: 100%;
    margin-right:auto;
    margin-left: auto;
    box-sizing: border-box;
    text-align: left;
    color: var(--head-1);
}
/*---------------solution head------------------*/
.solution-head{
    display: flex;
    flex-wrap: wrap;
    margin-left: -.25rem;
    margin-right:-.25rem;
    text-align: left;
}
.sol-head-inner{
    padding-right: 0.25rem;
    padding-left: 0.25rem;
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    position: relative;
    display: block;
}
.sol-h-main{
    display: flex;
    flex-wrap: wrap;
    column-gap: 0.75rem;
    row-gap: 0.5rem;
}
.sol-h-con{
    margin-inline: initial;
    padding-inline: initial;
    display: block;
}
.sol-h-top{
    margin: 0 0 0.688rem;
    color: var(--head-1);
    display: block;
}
.sol-h-top div{
    display: contents;
    font-weight: 600;
    font-size: 0.75rem;
    line-height: 1rem;
    letter-spacing: 0.08em;
    font-family: "SegoeUI";
}
.sol-h-bottom{
    display:contents;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 2rem;
    letter-spacing: -0.05em;
    font-family: "SegoeUI";
}
.sol-h-bottom span{
    margin-bottom: 2px;
}
/*---------------end of the solution head---------------*/
/*---------------soltion main container------------------*/
.sol-content{
    margin-top: 1.25rem;
    display: flex;
    flex-wrap: wrap;
    margin-right: -.25rem;
    margin-left: -.25rem;
    box-sizing: border-box; 
    width: 100%;
}
.sol-content-inner{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 0.25rem;
    padding: 0.25rem;
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    position: relative;
    width: 100%;
}

.sol-con-main{
    display: flex;
    flex-direction: column;
}

/*------------------solution nav section------------------*/

.sol-nav-conatiner{
    display: block;
    margin-left: 0;
    margin-right: 0;
}
.sol-nav-inner{
    display: block;
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    padding-inline: 0px;
    /* margin-right: 1.125rem; */
}
.s-nav-main{
    display: block;
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-width: none;
}
/*---------------nav button--------------------*/
.sol-nav{
    width: 740px;
    display: block;
}
.sol-nav-content{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    z-index: 0;
    justify-content: start;
    margin-left: 4px;
    margin-top: 0;
}
.sol-btn{
    background-color:  rgba(0, 85, 151, 0.1);
    margin-right: 0.5rem;
    flex: 0 0 auto;
    cursor: pointer;
    padding: 0.5rem 1rem;
    white-space: nowrap;
    border-radius: 12.5rem;
    border: none;
    display:block;
}
#sol-btn1{
    background-color: #005597; 
    width: 152.41px; 
    height: 40px; 
}
#sol-btn1 span{
    color:  var(--light);
}
.sol-btn span{
    padding-bottom: 0.125rem;
    padding-top: 0.150rem;
    font-weight: 600;
    font-size: .9375rem;
    line-height: 1.375rem;
    text-align: center;
    color:  #004275;
    letter-spacing: -0.3px;
    font-family: "SegoeUI";
}
.sol-arrow{
    display: block;
    color: #004275;
    position: absolute;
    right:4px;
    top:3.5px;
    background: linear-gradient(270deg, #f2f2f2 25%, rgba(242, 242, 242, 0) 100%);
}
.sol-arrow button{
    margin: 0;
    width: 40px;
    height: 40px;
    border-radius: 12.5rem;
    border: 2px solid #004275;
    background: linear-gradient(270deg, #f2f2f2 25%, rgba(242, 242, 242, 0) 100%);
    
}
.sol-arrow button::after{
    content: "";
    color: #004275;
    font-size: 1.125rem;
    font-weight: 400;
    font-family:"Fluent Icons";
}
/*-----------------solution nav end-----------------*/
/*-----------------solution content section------- */
.sol-text-container{
    display: flex;
    flex-wrap: wrap;
    margin-right: -.25rem;
    margin-left: -.25rem;
    box-sizing: border-box;
}
.sol-text{
    padding-right: .25rem;
    padding-left:.25rem;
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    position: relative;
    width: 100%;
    display: block;
}
.sol-t-inner{
    position: relative;
    /* margin: 1.5rem 0 0 0; */
    display: block;
}
.sol-t-main{
    display: block;
    margin-bottom: 0;
    padding-left: 0;
}
.sol-t-main-content{
    display: flex;
    flex-direction: row;
    position: relative;
    overflow-x: hidden;
}
.sol-t-content{
    display: flex;
    width: 100%;
}
/* -----list----------- */
.sol-t-content ul{
    display: block;
    flex-basis: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    list-style: none;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0;
    margin-right:.48rem;
}
.sol-t-content ul li{
    display: flex;
    list-style-type: none;
}
.sol-li-1-con{
    display: block;
    border-bottom: 1px solid #bdc5d2;
    margin-left: 0;
    width: 100%;
    /* margin-right: 1.125rem; */
}
.sol-li-1-top{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border: none;
}
.sol-li-1-btn{
    display: flex;
    align-items:center;
    color: var(--head-2);
    justify-content: space-between;
    flex-direction: row-reverse;
    width: 100%;
    cursor: pointer;
    padding:1.5rem 0 ;
    border: none;
    gap: 0.5rem;
    background-color:transparent;
    text-align: left;
}
/* #sol-li-1-btn-1{

} */
#sol-li-1-btn2::before{
    margin-top: 1.35rem;
 }
 #sol-li-1-btn3::before{
    margin-top: 1.35rem;
 }
.sol-li-1-btn::before{
    content: "";
    font-size: 1rem;
    font-family:"Fluent Icons";
    text-align: left;
    color: var(--head-2);
    line-height: 1.5625rem;
    list-style-type: none;
    /* margin-top: auto; */
}
#sol-li-1-btn-1::before{
    transform: rotate(-180deg);
}
.sol-li-1-bottom{
    display: contents;
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 1.5rem;
    letter-spacing: -0.03em;
    font-family: "SegoeUI";
    word-spacing: 0;
    /* margin-top:.250rem; */
}
/* -------------end of list------ */

/* -------------solution drop link----------------- */
.sol-li-drop-content{
    display: block;
    box-sizing: border-box;
    margin-top: -0.5rem;
}
.sol-drop-content-inner{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding-bottom: 1.5rem;
    color: #17253d;
}
.sol-drop-top{
    display: block;
}
.sol-d-content{
    display: contents;
    color: #17253d;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: -0.48px;
    line-height: 1.5rem;
    text-align: left;
    font-family: "SegoeUI";
}
.sol-drop-bottom{
    display: block;
    box-sizing: border-box;
    margin-top: 1px;
}
.sol-drop-bottom1{
    display: contents;
}
.sol-drop-bottom1 a{
    margin-bottom: 1.5rem;
    color: #004275;
    cursor: pointer;
    text-decoration: underline;
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
}
.sol-drop-bottom1 a span{
    padding-bottom: 0.125rem;
    color: #004275;
    font-family: "SegoeUI";
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 1.25rem;
    letter-spacing: -0.48px;
}
.sol-drop-bottom2{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}
.sol-drop-bottom2-top{
    /* border-radius: 1rem; */
    display: block;
    max-width: 100%;
    height: auto;
}
.sol-drop-bottom2-top img{
    display: block;
    height: inherit;
    max-width: inherit;
    object-fit: fill;
    aspect-ratio: initial;
    border-radius: 1rem;
}
.sol-drop-bottom2-bottom{
    position: absolute;
    padding: 0.75rem;
    display: block;
}
.sol-d-b2-b-inner{
    display: contents;
}
.sol-d-b2-b-inner a{
    display: flex;
    width: fit-content;
    align-items: center;
    justify-content: center;
    gap: 0.75rem;
    border: 2px solid transparent;
    padding: 0.875rem;
    position: relative;
    text-decoration: none;
    cursor: pointer;
    background-color: rgb(0, 120, 212);
    border-radius: 0.5rem;
    margin-top: 1px;
}
.sol-drop-img-con{
    width: 100%;
    height: 100%;
    display: inline-flex;

}
.sol-drop-img-con span{
    display: flex;
    align-items: center;
    color: var(--light);
}
.sol-drop-img-con span::after{
    content: "";
    font-weight: 400;
    line-height: 1;
    color: inherit;
    font-family:"Fluent Icons";
    font-size: 1rem;
}
/* end of drop link */
/* -------------end of solution link---------- */

/* ------------solution link ----------------- */
.sol-link{
    display: contents;
}
.sol-link a{
    text-decoration: none;
    color: #004275;
    display: inline-flex;
    align-items: center;
    gap:0.5rem;
    cursor: pointer;
}
.sol-link-span{
    display: flex;
    align-items: center;
    padding: 0.60rem;
    background-color:#0078d4;
    border-radius: 0.5rem;
    gap: 0.25rem;
    justify-content: center;
    color: var(--light);
    margin-left:4px;
}
.sol-link-span span{
    display: flex;
    align-items: center;
}   
.sol-link-span span::before{
    content: "";
    font-weight: 400;
    line-height: 15px;
    font-family:"Fluent Icons";
    letter-spacing: -.02em;
}
.sol-link-text{
    padding-bottom: 0.125rem;
    color: #004275;
    font-weight: 600;
    font-size: .875rem;
    line-height: 1.25rem;
    cursor: pointer;
    letter-spacing: -0.49px;
}
/* -----------end of solution link------------- */
/* product and service section */
#pro-ser-container{
    padding-block: 3rem 3.25rem;
}
#pro-ser-content{
    margin-top: 1.75rem;
}
#pro-ser-inner{
    margin: 0.5rem 0 0 0;
}
.pro-ser-card-con{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-inline:0.25rem;
    row-gap:0.75rem;

}
#pro-nav-f-btn{
    background-color: #005597;
    padding: 0.60rem 1rem 0.55rem 1rem;
}
#pro-nav-btn span{
    padding-top:0.250rem;
}
#pro-nav-f-btn span{
    color:var(--light);
    /* line-height: 0; */
}
#pro-ser-arrow{
    top:4px;
}
.pro-f-con{
    display: block;
    background-image: url(assets/window.avif);
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    border-radius: 1rem;
    box-shadow:  0 0.125rem rgba(0, 0, 0, 0.12),0 0.063rem 0.125rem rgba(0, 0, 0, 0.14);
}
.pro-f-inner{
    display: flex;
    padding: 1rem;
    height: 100%;
    flex-direction: column;
}
.empty-div{
    height: 224px;
    display: flex;
}
.s-f-content-con{
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    align-items: flex-start;
}
.s-f-head-con{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 0.75rem;
}
.s-f-head{
    display:flex ;
    align-items: flex-start;
    gap: 0.25rem;
    flex-direction: column;
}
.s-f-h-content{
    display: contents;
}
.s-f-h-content h3{
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 2rem;
    letter-spacing: -.05em;
    font-family: "SegoeUI";
    margin: 0;
}
.s-f-para-con{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    align-items: flex-start;
}
.s-f-para-content{
    display: contents;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: -0.03em;
}
.s-f-para-btn{
    display: block;
    width: 100%;
}
.s-f-btn-con{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 0.75rem;
}
.s-f-btn-con a{
    border: 2px solid transparent;
    padding: 0.5rem 0.75rem;
    background-color: #0078d4;
    color: var(--light);
    border-radius: 0.5rem;
    display: inline-block;
    position: relative;
    cursor: pointer;
    text-decoration: none;
}
.s-f-btn-con a span{
    display: block;
    padding-bottom: 0.125rem;
    text-align: center;
    font-size: .9375rem;
    font-weight: 600;
    line-height: 1.375rem;
    letter-spacing: -0.02em;
}
.small-card{
    display: block;
    max-width: 100%;
}
.small-inner{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: var(--light);
    border-radius:1rem;
    height: auto;
    box-shadow:  0 0.125rem rgba(0, 0, 0, 0.12),0 0.063rem 0.125rem rgba(0, 0, 0, 0.14);
}
.small-top{
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}
.small-img{
    display:inline-flex;
    background-color: #fefefe;
    justify-content: center;
    align-items: center;
    border:0.0625rem solid #e6f2fb;
    width: 2.90rem;
    height: 2.90rem;
    border-radius: 0.5rem;
}
.small-img img{
    max-width: 24px;
    max-height: 24px;
    width: 100%;
    height: 100%;
}
.small-text{
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    /* margin: -2px 0 0 0; */
}
#small-txt{
    margin-top: -1px;
}
.small-head{
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 1.5rem;
    letter-spacing:-0.54px;
    font-family: "SegoeUI";
    color: #0e1726;
    display:contents; 
}
.small-para{
    display: contents;
    letter-spacing: -0.03rem;
}
.small-para span { 
   font-weight: 400;
   font-size:  1rem;
   line-height: 1.5rem;
   letter-spacing: -0.03em;
   color: #17253d;
   font-family: "SegoeUI";
   text-align: left;
}
.s-card-bottom{
    margin-top: 1.12rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    gap: initial;
    text-align: left;
}
.s-card-link{
    display: contents;
}
.s-card-link a{
    color: #004275;
    display: inline-flex;
    text-decoration: underline;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    letter-spacing: -0.03em;
}
.s-card-link a span{
    padding-bottom: 0.125rem;
    font-weight: 600;
    font-size: .875rem;
    line-height: 1.25rem;
    cursor: pointer;
}
.pro-ser-link{
    display: contents;
}
.pro-ser-link a {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    margin-left: 0.25rem;
    margin-top: 0.45rem;
    text-decoration: none;
}
.pro-ser-link a .image{
    margin-bottom: 1px;
    padding: 0.5rem 0.492rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
    border: 2px solid transparent;
    border-radius: 0.5rem;
    background-color: #0078d4;
}
.pro-ser-link a .image span{
    display: flex;
    align-items: center;
    color: var(--light);
}
.pro-ser-link a .image span::before{
    content: "";
    font-family:"Fluent Icons";
    font-weight: 400;
    line-height: 1;
    font-size: .9375rem;
}
.pro-ser-link a .text{
    padding-bottom: 0.125rem;
    color: #004275;
    font-weight: 600;
    font-size: .875rem;
    line-height: 1.25rem;
    font-family: "SegoeUI";
    letter-spacing: -0.03rem;
}
/* end of the product and service section */
/* --------------gartner section -----------*/  
.gartner{
    display: block;
    padding: 3.57rem 1.25rem 3.5rem;
    position: relative;
    background-image:url(assets/gartner-img.avif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -0.07rem;
}
.gartner-card-con{
    display: block;
    width: 100%;
}
.gartner-card{
    margin-top: 1.95rem;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: 0.0625rem solid #e6f2fb;
    background: #fefefe;
    border-radius: 1rem;
    box-shadow:  0 0.125rem rgba(0, 0, 0, 0.12),0 0.125rem 0.25rem rgba(0, 0, 0, 0.14);
    min-width: 1px;
    position: relative;
    height: 100%;
}
.g-image-con{
    padding: 0.5rem 0.5rem ;
}
.g-image{
    display: block;
    height: 100%;
    width: 100%;
    min-width: 100%;
}
.g-image img{
    width: 100%;
    height: 100%;
    max-height: 100%;
    object-fit: cover;
    aspect-ratio: 1.33333/1;
    border-radius: 0.5rem;
}
.g-content-con{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
    padding: 0.75rem;
    margin-top:1.75rem;
}
.g-text-con{
    display: flex;
    gap: 0.75rem;
    flex-direction: column;
}
.g-c-head{
    display: flex;
    gap: 0.75rem;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}
.g-head{
        display:contents;
}
.g-head h2{
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 2rem;
    letter-spacing: -0.05em;
    margin: 0;
    font-family: "SegoeUI";
}
.g-c-para{
    display:contents;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: -0.03em;
    font-family: "SegoeUI";
}
.g-btn{
    display: flex;
    gap: initial;
}
.g-btn a{
    padding: 0.5rem 0.75rem;
    background-color: #0078d4;
    color: var(--light);
    border-radius: 0.5rem;
    display: inline-block;
}
.g-button{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    gap: initial;
    margin-bottom: 0.25rem;
}
.g-button a{
    flex-grow: 1;
    border: 2px solid transparent;
    padding:0.5rem;
    border-radius: 0.5rem;
    text-decoration: none;
    background-color: #0078d4;
    display: inline-block;
    position: relative;
    cursor: pointer;
}
.g-button a span{
    padding-bottom: 0.125rem;
    display: block;
    text-align: center;
    font-weight: 600;
    font-size: .9375rem;
    line-height: 1.375rem;
    letter-spacing: -.02em;
    color: #fff;
    font-family: "SegoeUI";
}
/* ----------resource section---------- */
.resource{
    display:block;
    background-color: #f4fafd;
    width: 100%;
}
.resource-top{
    display: block;
}
.resource-t-inner{
    padding: 3rem 1rem 0 1rem;
    margin-bottom: 1.5rem;
}
.r-t-head1{
    margin: -4px 0 11px;
    display: block;
    text-align: center;
    padding: 0;
}
.r-t-head1-con{
    display: contents;
    font-weight: 600;
    font-size: 0.75rem;
    line-height: 1rem;
    letter-spacing: 0.96px;
    text-align: center;
    text-transform: uppercase;
    font-family: "SegoeUI";
    color: #17253d;
}
.r-t-head2{
    display:contents;
    text-align: center;
}
.r-t-head2 h2{
    font-weight: 600;
    font-size: 1.75rem;
    line-height: 2.25rem;
    letter-spacing: -0.05em;
    color:#0e1726;
    margin: 0;
}
.resource-bottom{
    display: block;
}
.resource-b-inner{
    /* margin-top:-60px; */
    margin-top: -1rem;
    padding-inline: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-image: url(assets/resource-back-img.avif);
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
}
.r-back-img-con{
    display: block;
    height: 100%;
    position: absolute;
    top:2rem;
    border: 0;
    max-height: 100%;
    width:100%;
}
.r-back-img{
    display: flex;
    width: 100px;
    height: 100px;
    max-width: 100%;
}
#r-back img{
    width:inherit;
    max-width:inherit;
    height: inherit;
    object-fit: cover;
    aspect-ratio: initial;
}
.resource-nav{
    /* display: flex;
    flex-direction: column; */
    display: block;
    width: 100%;
    position: relative;
}
.r-nav-con{
    display: block;
}
.r-nav-con-inner{
    display: flex;
    flex-direction: row;
    padding: 0.5rem 0.5rem 0 0.35rem;
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-width: none;
    position: relative;
}
.r-nav-content{
    padding: 12px 16px 16px;
    display: flex;
    justify-self: center;
    align-items: center;
    background: #fefefe;
    border-right:1px solid #bdc5bd;
    box-shadow:  0 0.125rem rgba(0, 0, 0, 0.12),0 0.063rem 0.125rem rgba(0, 0, 0, 0.14);
    position: relative;
}
#r-nav-f-c{
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}
#r-nav-scroll{
    display: block;
    height:0.25rem;
    width: 100%;
    background-color: #004275;
    border-bottom-left-radius: 0.75rem;
    position: absolute;
    bottom: 0;
    left: 1px;
}
#r-nav-l-c{
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}
.r-nav-content a{
    text-decoration:none;
    text-align:left;
    width: 188.328px;
}
.r-nav-content a span{
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: -0.03em;
    display: block;
    color: #0e1726;
    font-family: "SegoeUI";
}
.scroll-btn{
    margin: 2.15rem 0 0 0;
    padding: 0 0 2.5rem 0;
    display:block;
    position:relative;
}
.s-btn-1{
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12.5rem;
    border:2px solid rgba(0, 66, 117, 0.12);
    background-color: #f4fafd;
    position: absolute;
    left:-.25rem;
    top: 0;
}
.s-btn-1 span::after{
    content: "";
    color: #004275;
    font-weight: 600;
    font-size: 1.15rem;
    line-height: 2rem;
    text-align: center;
    font-family:"Fluent Icons";
    opacity: 0.2;
}
.s-btn-2{
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12.5rem;
    border:2px solid #004275;
    background-color: #f4fafd;
    position: absolute;
    right:-.25rem;
    left: 3rem;
}
.s-btn-2 span::after{
    content: "";
    color: #004275;
    font-weight: 600;
    font-size: 1.15rem;
    line-height: 2rem;
    text-align: center;
    font-family:"Fluent Icons";
}
.r-t-container{
    padding: 1.65rem 0 2.82rem;
}
.r-text-container{
    display: block;
    position: relative;
    text-align: center;
}
.r-text-con{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 0.75rem;
}
.r-text-con-inner{
    display: flex;
    flex-direction: column;
}
.r-content{
    display: contents;
    text-align: center;
}
.r-content h3{
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.75rem;
    letter-spacing: -0.05em;
    display: block;
    font-family: "SegoeUI";
    margin: 0;
}
.r-link{
    margin-left: -4px;
    margin-top: 0.25rem;
}
.r-link .text{
    margin-top:-1px;
}
.r-image-container{
    margin: 1.5rem 0 0 0;
    padding: 1rem 1.05rem;
    display: block;
}
 .r-image-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.5rem;
    aspect-ratio: 1.77778/1;
 }
 .azure{
    display: block;
    /* background-color: #0067b8; */
    background-image:url(assets/azure-back.avif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
 }
 .azure-inner{
    padding: 3.5rem 1rem 5rem;
 }
 .azure-head{
    display: block;
    text-align: center;
 }
.azure-head h2{
    font-weight: 600;
    font-size: 2rem;
    line-height: 2.5rem;
    letter-spacing: -0.05em;
    font-family: "SegoeUI";
    color: #f4fafd;
    margin: 0;
}
.azure-para{
    margin: 1rem 0 0;
    padding: 0rem 1rem;
    text-align: center;
}
.azure-para-content{
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.75rem;
  letter-spacing: -0.03em;
  display: contents;
  color: #dceef8;
  font-family: "SegoeUI";
}
.azure-btn-con{
    margin: 1.5rem 0 0;
    display: block;
}
.azure-btn{
    display: flex;
    width: 100%;
    background-color: #b3daf0;
    border-radius: 0.5rem;
}
.azure-btn a{
    width: 100%;
    padding-inline:0.75rem;
    padding-block:0.88rem ;
    text-decoration: none;
    text-align: center;
}
.azure-btn a span{
    padding-bottom: 0.125rem;
    display: block;
    font-weight: 600;
    font-size: 0.9375rem;
    line-height: 1.375rem;
    letter-spacing: -0.02em;
    font-family: "SegoeUI";
    color: #0e1726;
}
.customer{
    display: block;
    padding: 3rem 1rem 2.55rem;
    background-image: url("assets/customer-back.avif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}
.customer-head{
    display: flex;
    flex-direction: column;
    position: relative;
}
.cust-head1{
    display:block;
    font-weight: 600;
    font-size: 0.75rem;
    line-height: 1rem;
    letter-spacing: 0.08em;
    color: #17253d;
    margin-bottom: 0.75rem;
}
.cust-head2{
    display: contents;
}
.cust-head2 h2{
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 2rem;
    letter-spacing:-0.05em;
    margin: 0;
}
.cust-body{
    margin-top: 1.68rem;
    display: block;
}
.cust-body-inner{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.cust-body-top{
    display: flex;
    flex-direction: column;
    position: relative;
}
.cust-card-con{
    /* margin-bottom: 79.12px; */
    display: block;
    overflow-x: scroll;
    /* overflow-y: hidden; */
    scrollbar-width: none;
}
.cust-card{
    display: flex;
    column-gap: 0.75rem;
    row-gap: 0.5rem;
    flex-wrap: nowrap;
    width: auto;
    padding-inline: 0.45rem;
}
.cust-card-inner{
    /* padding: 0.1875rem; */
    display: block;
    flex: 0 0 100%;
}
.cust-card-main{
    display: flex;
    flex-direction: column;
    min-width: 1px;
    /* height: 100%; */
    position: relative;
    border-radius: 1rem;
    box-shadow:  0 0.125rem rgba(0, 0, 0, 0.12),0 0.125rem 0.25rem rgba(0, 0, 0, 0.14);
    background-color: #fefefe;
}
.cust-card-img-con{
    display: flex;
    flex-direction: row;
}
.cust-card-img{
    padding: 0.5rem 0.5rem 0 0.5rem;
    display: block;
    width: 100%;
    height: 100%;
    max-width: 100%;
}
.cust-card-img img{
    width: 100%;
    height: 100%;
    max-width: 100%;
    aspect-ratio:1/0.85;
    border-radius: 0.5rem;
    object-fit: cover;
}
.cust-content-con{
    display: flex;
    gap: 0.75rem;
    padding: 1rem 1.20rem;
    height: auto;
    flex-direction: column;
    flex: 0 0 100%;
    max-width: 100%;
}
.cust-c-con-inner{
    display: flex;
    gap: 1.5rem;
    flex-direction: column;
    position: relative;
    min-width: 1px;
    flex: 1 1 auto;
    /* height: 100%; */
}
.cust-c-top{
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    margin-left: -0.20rem;
}
.cust-top-img{
    display: block;
    margin: -.25rem 0 0 0;
}
.cust-top-img-inner{
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 100%;
}
.cust-top-img-inner img{
    border: 0.0625rem solid #bdc5d2;
    border-radius: 0.5rem;
    display: flex;
    max-width: 100%;
    height: auto;
    aspect-ratio: initial;
}
.cust-c-text{
    display: block;
}
.cust-c-text span{
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.75rem;
    letter-spacing:-0.05em;
    color: #17253d;
}
.cust-c-bottom{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /* height: 100%; */
}
.cust-c-bottom-inner{
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    margin-top: 0.875rem;
    margin-left: -0.20rem;
}
.cust-c-b-head{
    display: contents;
}
.cust-c-b-head h3{
    margin: 0;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: -0.03em;
    color: #0e1726;
}
.cust-c-b-link-con{
    display: flex;
    flex-direction: column;
    gap: 0.88rem;
    margin-top: 3px;
}
.cust-c-b-link{
    display: flex;
    flex-direction:row;
    position: relative;
    column-gap: 0.75rem;
}
.cust-c-b-link1{
    display: block;
}
.cust-c-b-link1-1{
    display: flex;
    column-gap: 0.5rem;
}
.cust-c-b-link1-img{
    display: block;
    width: auto;
    height: auto;
    max-width: 20px;
    max-height: 20px;
    margin: 0;
    padding: 0;
}
.cust-c-b-link1-img img{
    display: block;
    width: 100%;
    height: 100%;
    max-width: 20px;
    max-height: 20px;
    margin-top: 2px;
}
.cust-c-b-link1-1 span{
    display: contents;
    text-align: left;
    letter-spacing: -0.03em;
}
.cust-c-b-link1-1 span a{
    text-decoration: underline;
    font-weight: 600;
    color: #0067b8;
    font-size: 0.875rem;
    line-height: 1.25rem;
}
.cust-card-btn{
    margin-top: 1.75rem;
    display:flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-inline: -0.20rem;
}
.cust-card-btn a{
    padding:0.80rem 1.5rem;
    background-color: #0078d4;
    color: var(--light);
    border-radius: 0.5rem;
    text-decoration: none;
    text-align: center;
    display: block;
}
.cust-card-btn a span{
    display: block;
    padding-bottom: 0.125rem;
    font-weight: 600;
    font-size: .9375rem;
    line-height: 1.375rem;
    letter-spacing: -.02em;
}
.cust-nxt{
    padding:1.15rem 0.5rem 1.15rem;
    display: block;
    gap: 1rem;
}
#c-sroll-btn{ 
 margin-top:0.15rem;
 margin-left: -0.25rem;
 padding: 0;
 display: flex;
 gap: 0.5rem;
}
#c-scroll{
    height: 50px;
    width: 50px;
    background: transparent;
    position: relative;
    left: 0;
}
.c-link{
    padding: 0rem 0 0.4rem;
    /* margin-top: 0.25rem; */
    display: block;
}
.c-link .pro-ser-link .image{
    margin-top: -2px;
}
.c-link .pro-ser-link .text{
    margin-top: -4px;
}
.N-step{
    display: block;
    background-image: url(assets/step-back.avif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-block: 3.5rem;
}
.N-step{
    padding-inline: 1.55rem;
}
.step{
    display: block;
}
.step-head{
    text-align: center;
    display: contents;
}
.step-head h2{
    font-weight: 600;
    font-size: 1.75rem;
    line-height: 2.25rem;
    letter-spacing: -0.05em;
    color:#0e1726;
    font-family: "SegoeUI";
    margin: 0;
}
.step-card-con{
    margin-top: 1.5rem;
    display: block;
}
.step-card{
    /* display: flex;
    flex-direction: column; */
    gap: 0.5rem;
    /* flex-wrap: wrap; */
    display: grid;
}
.st-card{
    display:flex;
    flex-direction: column;
    padding: 1rem 0.95rem 0.93rem;
    background-color: var(--light);
    border-radius: 1rem;
    box-shadow:  0 0.125rem rgba(0, 0, 0, 0.12),0 0.125rem 0.25rem rgba(0, 0, 0, 0.14);
    
}
.st-card-con{
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    align-items: flex-start;
    text-align: left;
}
.st-c-head{
    display:block;
    word-wrap: break-word;
}
.st-c-head-inner{
    display: contents;
}
.st-c-head h3{
    margin: 0;
    line-height: 1.5rem;
}
.st-c-head h3 span{
    font-weight: 600;
    font-size: 1.125rem;
    letter-spacing: -0.03em;
    font-family: "SegoeUI";
    word-wrap: break-word;
}
.st-c-para{
    display: contents;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: -0.03em;
    margin: 0;  
    color: #17253d;
}
.st-c-link{
    margin-top: 1.5rem;
    margin-left: -4px;
}
.st-c-link .image{
    margin-top: 1px;
}
.st-c-link .text{
    margin-top: -1px;
}
.social-container{
    display: flex;
}
.social-con{
    padding: 0.5rem 1rem 0;
}
.social{
    display: flex;
    flex-direction: column;
    padding: 0.75rem 0.75rem 0.5rem;
}
.social-top{
    display: block;
    margin-top:0.75rem;
    margin-left: -0.5rem;
}
.social-top a{
    display:inline-flex;
    padding: 0.89rem;
    /* margin-block: 0.5rem; */
    background-color: #e6e6e6;
    border-radius: 0.2rem;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 0.9375rem;
    line-height: 1.375rem;
    font-family: "SegoeUI";
    color: #0e170e;
}
.social-top a span{
    margin-top: -1px;
    letter-spacing: -0.02em;
}
.social-top a img{
    margin-right: 0.5rem;
    margin-top: 1px
}
.social a img{
    max-width: 100%;
    height: auto;
    aspect-ratio: 24/24;
    width: 24px;
}
.social-bottom {
    margin-left: 0.75rem;
    margin-block:0.62rem 0.65rem;
    display: flex;
}
.social a{
    margin-right: 1rem;
}
footer{
    margin-top: 2.60rem;
    padding-bottom:30px;
    background-color: #f2f2f2;
    min-width: 280px;
}
.footer-top{
    display: block;
    padding: 0 12px;
}
.f-top{
    display: grid;
}
.f-top-inner{
    padding-inline:12px;
}
.top1-inner-head{
    color: #616161;
    font-size: 15px;
    line-height: 20px;
    padding: 36px 0 4px;
    font-weight: 600;
    font-family: "SegoeUI";
}
.f-top-inner ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.f-top-inner ul li{
    padding: 8px 0;
    display: list-item;
    font-size: 11px;
    line-height: 1rem;
    list-style-type: none;
    color: #616161;
    font-family: "SegoeUI";
}
.footer-bottom{
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 30px 24px 16px;
    margin: 0 auto;
}
.footer-bottom a{
    text-decoration: none;
    color: #616161;
    font-size: 11px;
    line-height: 16px;
    font-weight: 400;
    text-align: left;
    font-family: "SegoeUI";
}
#f-a1{
    padding-right: 1.5rem;
}
#f-a1::before{
    content: "";
    font-size: 20px;
    line-height: 24px;
    margin-right: 10px;
    vertical-align: middle;
    display: inline-block;
    font-family:"Fluent Icons";
    color: #616161;
}
#f-a2{
    padding: 4px 24px 0px 0px;
    margin: 8px 0 20px;
    display: inline-flex;
}
#f-a2 img{
    height: 16px;
    width: 35px;
    padding-right: 0.5rem;
    /* padding-top: 6px; */
}
.f-ul{
    margin:12px 0px 3px;
    display: block;
}
.f-ul ul{
    list-style-type: none;
    color: #616161;
    font-size: 11px;
    line-height: 16px;
    font-weight: 400;
    text-align: left;
    font-family: "SegoeUI";
    padding-right: 3rem;
    margin: 0;
    padding: 0;
}
.f-ul ul li{
    float: left;
    padding-top: 6px;
    padding-right: 13px;
}
@media screen and (min-width:375px) {
    #sol-li-1-b-id1{
        line-height: 1.65rem;
    }
    #sol-li-1-btn-1::before{
        margin-bottom: 1px;
    }
    .sol-li-drop-content{
        margin-top: -0.60rem;
    }
    .sol-arrow button{
        margin-top: 1px;
    }
    #sol-li-1-btn2::before{
        margin-top:0;
     }
     .sol-link-text{
        margin-top: 2px;
     }
     #pro-ser-container {
        padding-block: 3rem 3.25rem;
    }
    .card-img-con img{
        aspect-ratio: 1/0.897;
    }
    .cust-c-bottom{
        margin-top: 31px;
    }
    .social-con {
        padding: 1.40rem 1rem 0.40rem;
    }
    .social{
        flex-direction: row;
    }
    .social-top{
        margin-top: -2px;
    }
    .social-top a{
    padding: 0.93rem 0.90rem 0.90rem;
    margin-top: -1px;
    }
    .social-top a img{
        margin-top: 0.5px;
    }
    .social-bottom{
        margin-left: -4px;
        margin-block: 0.77rem 0rem;
    }
    .social a{
    margin-right: 0.95rem
    }
}
@media screen and (min-width:425px) {
    #sol-li-1-b-id2{
        line-height: 1rem;
    }
    #sol-li-1-b-id1{
        line-height: 1.5rem;
    }
    #sol-li-1-btn-1::before{
        margin-bottom: 0px;
    }
    .sol-li-drop-content{
        margin-top: -0.5rem;
    }
    .sol-arrow button{
        margin-top: 0px;
    }
}
@media screen and (min-width:768px) {
    .content{
        padding: 0 4rem;
    }
    .content-4-inner{
        flex-direction: row;
    }
    .feature-content{
        padding-inline: 4em;
    }
    .f-inner-card-con{
        padding-inline: 0 0.25rem;
    }
    .f-para{
        padding-right: 1.5rem;
    }
    .solution{
        padding-inline: 3.90rem;
        margin-left: -2px;
    }
    .sol-li-1-btn{
        justify-content: flex-end;
    } 
    #sol-li-1-b-id1{
        line-height: 1.65rem;
    }
    #sol-li-1-btn-1::before{
        margin-bottom: 1px;
    }
    .sol-li-drop-content{
        margin-top: -0.60rem;
    }
    .sol-arrow button{
        margin-top: 1px;
    }
    .solution-head{
        margin-inline: 0px;
    }
    #sol-li-1-btn3::before {
        margin-top:0;
    }
}