* {
    margin: 0;
    padding: 0;
    font-family: "SegoeUI";
}

/* font */
@font-face {
    font-family: "Fluent Icons";
    src: url(../assets/fonts/Icons.woff2) format("woff2");
}

@font-face {
    font-family: SegoeUI;
    src: "Segoe UI", url(../assets/fonts/Segoe-400.woff2) format("woff2");
    font-weight: 400;
}

@font-face {
    font-family: SegoeUI;
    src: "Segoe UI", url(../assets/fonts/Segoe-100.woff2) format("woff2");
    font-weight: 100;
}

@font-face {
    font-family: SegoeUI;
    src: "Segoe UI", url(../assets/fonts/Segoe-200.woff2) format("woff2");
    font-weight: 200;
}

@font-face {
    font-family: SegoeUI;
    src: "Segoe UI", url(../assets/fonts/Segoe-600.woff2) format("woff2");
    font-weight: 600;
}

@font-face {
    font-family: SegoeUI;
    src: "Segoe UI", url(../assets/fonts/Segoe-700.woff2) format("woff2");
    font-weight: 700;
}

:root {
    --dark: #000;
    --light: #fff;
    --head-1: #17253d;
    --bg-1: #f4fafd;
    --head-2: #0e1726;
}
/*--------------- header start ----------------*/

header{
    margin-bottom: 34px;
    display: block;
}
.header1-main{
    border-bottom: 1px solid #e6e6e6;
    height: 53px;
    background-color: var(--light);
    display: block;
}
.head-inner{
    position: relative;
    padding: 2px 0;
    display: flex;
}

/* ----------menu button----------- */

.menu-btn{
    padding: 6px 0 8px 0;
    margin: 1px;
    width: 48px;
    height: 48px;
    display: block;
    background: transparent;
    cursor: pointer;
    border: none;
}
.menu-btn i{
    width: 20px;
    height: 20px;
    font-size: 20px;
    line-height: 15px;
    margin-top: 5px;
}

/* -----------end menu-------- */

/*---------- search conatiner -------------*/

.search{
    display: flex;
    flex: 1 0 auto;
    position: relative;
}
/* -----------search button ---------*/
.search-btn{
    position: absolute;
    left: 1px;
    padding: 8px 8px 8px 0;
    border: none;
    background: transparent;
    width: 34px;
    margin: 3px 6px 1px 2px;
    cursor: pointer;
}
.search-inner{
    display: block;
    margin: 6px 0;
}
.search-btn i{
   display:inline-block;
   font-size: 16px;
   margin-left:2px;
   position: relative;
}
/*------------ search end --------------*/
/* ------------logo------------------- */
.search a{
    margin: 1px;
    padding: 9px 4px 12px;
    display: block;
    position:absolute;
    left: calc(50% - 85px);
    cursor: pointer; 
    flex-grow: 1;   
}
.logo{
    width: 108px;
    display: block;
    cursor: pointer;
}
/*-------------- logo end --------------*/
.header2-main{
    height: 54px;
    margin-bottom: 2px;
    padding-inline: 24px;
    display: none;
    position: relative;
}
.header2-main a{
    padding: 16px 6px 16px 10px;
    float: left;
    margin-top: 1px;
    text-decoration: none;
}
.h2-logo{
    width: 121px;
    position: relative;
}
.h2-logo img{
    margin-top: -3px;
    width: 108px;
    display: block;
}
.h2-head{
    position: relative;
    display: block;
}
.h2-head::before{
    border-left: 2px solid #000;
    height: 24px;
    content: " ";
    margin-left: 7px;
    position: absolute;
    top: 15px;
    left: 0;
}
.h2-head a{
    margin-left: 18px;
}
.h2-head a span{
    display: block;
    font-size: 18px;
    font-weight: 600;
    margin-top: -3px;
    color: #262626;
}
nav{
    display: block;
    padding-inline: 2px 1px;
    flex-direction: 1 1 auto;
}
.nav-con{
    display: flex;
    position: relative;
}
#nav-content{
    border: 1px solid transparent;
    color: #262626;
    display: inline-block;
    padding: 16px 8px 10px;
    font-size: 13px;
    font-weight: 400;
}
.nav-con button{
    margin: 1px -10px 0 3px;
    padding: 16px 28.73px 16px 12px;
    color:#262626;
    border: 1px solid transparent;
    display: inline-block;
    background-color: transparent;
    position: relative;
}
.nav-con button::after{
    font-family: "Fluent Icons";
    content: "";
    position: absolute;
    font-size: 10px;
    display: inline-block;
    color: currentColor;
    font-weight: 700;
    padding-top: 6px;
    right: 13px;
}
.h2-search-btn{
    margin: 3px 6px 0;
    padding-block: 15px 30px;
    display: flex;
    justify-content: end;
    background: transparent;
    border: none;
    position: absolute;
    right: 35px;
    top: 1px;
}
.h2-search-btn::after{
    font-family: "Fluent Icons";
    content: "";
    font-size: 16px;
    vertical-align: sub;
    transform: rotate(90deg);
}
/*--------------- nav start------------ */
.nav{
    position: absolute;
    left: 0;
    top: 54px;
    width: 100%;
    height:33px;
    border-bottom: 1px solid #e6e6e6;
    color: var(--dark);
}
.nav-btn{
    background: transparent;
    border: 0;
    color: var(--dark);
    display: block;
    font-weight: 550;
    height: 100%;
    font-size: 15px;
    margin: 0 1px;
    padding: 0 15px;
    cursor: pointer;
}
.nav-btn::after{
    font-family:  "FabricMDL2Icons";
    content: "";
    font-size: 12px;
    font-weight: 700;
    position: relative;
    top: 2px;
    color: var(--dark);
    cursor: pointer;
    padding-left: 11px;
}
/*------------ end of nav--------- */
/*-------- fixed chat ------------*/
.chat{
    display:none;
}
.chat-con{
    position: fixed;
    right: 1rem;
    bottom: 0;
    z-index: 1030;
    text-align: left;
    display: flex;

}
.chat-con button{
    padding: 0.75rem;
    padding-left:2.185rem;
    cursor: pointer;
    border: 2px solid transparent;
    font-weight: 600;
    font-size: .9375rem;
    line-height: 1.375rem;
    letter-spacing: -.02em;
    background-color:#0067b8;
    color: var(--light);
    display: inline-block;
    position: relative;
    margin: 0;
    box-sizing: border-box;
    border-radius: .5rem;
    font-family: "SegoeUI";
}
.chat-con button::after{
    font-family: "Fluent Icons";
    content: "";
    font-weight: 400;
    line-height: 1;
    position: absolute;
    top: 50%;
    left: .75rem;
    margin-top: -.5em;
    color: #fff;
    font-size: .9375rem;
    letter-spacing: -.02em;
}
/* ------------home container-------------- */
.home{
    display: block;
    position: relative;
}
/*------------ home image section----------  */
.home-img{
    max-height: 100%;
    width: 100%;
    display: block;
}
.home-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: initial;
    box-sizing: border-box;
}
/* ---------end of home image section--------- */
/* -----------section content---------------- */
.content{
    padding: 0 1rem;
    margin-inline: auto;
    display: block;
    background-color:var(--bg-1);
    border-bottom: 1px solid #e6e6e6;
    margin-top: -2px;
}
.content-inner{
    display: flex;
    margin-inline:-0.25rem;
    padding: 0.25rem;
}
.content-container{
    margin-top: 1.563rem;
    display: grid;
    column-gap: 0.75rem;
    row-gap: 0.5rem;
}
/*------------- content-1--------------- */
.content-1{
    margin: 0 0 0.625rem;
    display: block;
}
.content-heading-1{
    color:var(--head-1);
    font-weight: 600;
    font-size: 0.75rem;
    line-height: 1.18rem;
    letter-spacing:0.08em;
}
/*------------content-2---------------*/
.content-2{
    color: var(--head-2);
    display: block;
}
.content-2 h1{
    font-weight: 600;
    font-size: 2rem;
    line-height: 2.5rem;
    letter-spacing: -0.05em;
    margin: 0;
    font-family: "SegoeUI";
}
/*----------------- content-3 ----------*/
.content-3{
    margin: 1rem 0 0;
    color: var(--head-2);
    padding-right: 1rem;
    /* box-sizing: border-box; */
    display:block;
}
.content-para{
    display: contents;
    box-sizing: border-box;
    color: var(--head-2);
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.75rem;
    letter-spacing: -0.03em;
}
/*---------- content 4----------- */
.content-4{
    margin: 1.5rem 0 0;
    display: block;
}
.content-4-inner{
    display: flex;
    flex-direction: column;
    gap:0.5rem;
}
.content-4-inner a{
    padding: 0.75rem;
    font-weight: 600;
    font-size: .9375rem;
    line-height:  1.375rem;
    letter-spacing: -0.02em;
    border-radius: 0.5rem;
    display: inline-block;
    text-decoration:none;
    cursor: pointer;
}
.content-4-inner a span{
    padding-bottom: 0.125rem;
    display: block;
    text-align: center;
}
 #con-4-a1{
    border:2px solid transparent;
    background-color: #0078d4;
    color: var(--light);
}
#con-4-a2{
    background-color: transparent;
    border:2px solid var(--head-1);
    color: #004275;
}
.content-space{
    height: 91px;
    background: var(--bg-1);
}
/* -----------end of the contend section----------*/
/*-------------home end----------------------*/
/*-------------future-news------------------*/
.future-news{
    display: block;
    position: relative;
}
/*------------future nav section--------------*/
.future-nav1{
    height: 60px;
    display: flex;
    flex-direction: column;
    box-shadow:  0 0.125rem rgba(0, 0, 0, 0.12),0 0.125rem 0.25rem rgba(0, 0, 0, 0.14);
    background-color: #fefefe;
    width: 100%;
    overflow: hidden;
}
.f-nav-inner{
    margin: 0.25rem;
    position: relative;
    flex-grow: 1;
    background-color: #fefefe;
    display: inline-block;
    width: 100%;
}
.f-nav-container{
    padding: 0.75rem;
    display: flex;
    column-gap: 0.5rem;
    cursor: pointer;
}
.f-nav-content-1{
    display: flex;
    flex-grow: 1;
    cursor: pointer;
}
.inner-nav-content-1{
    display: contents;
    box-sizing: border-box;
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 1.25rem;
    letter-spacing: -0.035em;
    text-align: left;
    font-family: "SegoeUI";
    color: #004275;
}
.f-nav-content-2{
    display: block;
    align-self:self-end;
    box-sizing: border-box;
    margin-right: 7.5px;
}
.f-nav-content-2::after{
    content: "";
    font-family: "Fluent Icons";
    font-weight: 400;
    line-height: 1;
    box-sizing: border-box;
    font-size: 1rem;
    cursor: pointer;
    color: #0067b8;
}
.f-nav-space{
    height: 0.25rem;
    width: 100%;
    background-color: #004275;
    box-shadow:  0 0.125rem rgba(0, 0, 0, 0.12),0 0.125rem 0.25rem rgba(0, 0, 0, 0.14);
}
/*---------end of the future nav-----------*/
/* ----------------future nav-2-------------- */
.f-nav-2{
    display: none;
    background-color: #fefefe;
    padding-inline: 56px;
}
.f-nav-2 nav{
    display: flex;
    height: 66px;
    justify-content: space-between;
    /* width: 177px; */
}
.f-nav-2 nav ul{
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    column-gap: 48.5px;
    padding:  0  2px 2px ;
}
.f-nav-2 ul li{
    /* padding-bottom: 2px; */
    /* margin-top: 16px; */
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 1.25rem;
    letter-spacing: -0.03em;
    color: #004275;
}
.f-nav-2 ul li a{
    text-decoration: none;
    /* margin-right: 48px; */
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
}
.f-nav-2 ul li a div{
    height: 4px;
    margin-bottom: -4px;
    border-radius: 4px;
    background-color: #004275;
}
.f-nav-btn{
    margin-left: 24px;
    margin-right: -1px;
    display: flex;
}
.f-nav-btn a{
    padding: 10px 18px;
    /* border: 1px solid transparent; */
    background-color: #0078d4;
    border-radius: 8px;
    text-decoration: none;
    display: flex;
    align-items: center;
}
.f-nav-btn a span{
    padding-bottom: 0.125rem;
    display: block;
    text-align: center;
    font-size: 0.9375rem;
    font-weight: 600;
    letter-spacing: -0.02em;
    line-height: 1.375rem;
    color: var(--light);
    width: 142.188px;
}
/*---------future main container----------*/
.feature-content{
    display: block;
    position: relative;
    padding:3.5rem 1rem ;
    background-image: url(assets/future.avif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.feature-head{
    display: block;
}
.f-head1{
    display: block;
    margin: 0 0 0.75rem;
    font-weight: 600;
    font-size: 0.75rem;
    line-height: 1rem;
    letter-spacing: 0.08em;
}
.f-head2{
    display: contents;
}
.f-head2 h2{
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 2rem;
    letter-spacing: -0.05em;
}
.f-card-container{
    margin-top: 2rem;
    display: grid;
    gap: 0.5rem;
    padding-inline: 0.25rem;
}
.f-card{
    display:flex;
    background-color: #fefefe;
    box-shadow:  0 0.125rem rgba(0, 0, 0, 0.12),0 0.125rem 0.25rem rgba(0, 0, 0, 0.14);
    flex-direction: column;
    border-radius:1rem;
}
.f-image-con{
    display: flex;
    flex-direction: row;
}
.f-image{
    margin: 0.5rem 0.5rem 0;
    width: 100%;
    height: 100%;
    display: block;
}
.f-image img{
max-width: 100%;
height: auto;
object-fit: cover;
border-radius: 0.5rem;
aspect-ratio: 2.33333/1;
width: 100%;
}
.f-content-con{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    justify-content: space-between;
    position: relative;
}
.f-text-con{
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    text-align: left;
    align-items: flex-start;
}
.f-t-head-con{
    display: flex;
    flex-direction: row;
    gap: 0.25rem;
}
.f-t-head{
    display: contents;
}
.f-t-head h3{
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 1.5rem;
    letter-spacing: -0.03em;
}
.f-para{
    display: block;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: -0.03em;
    color: #17253d;
}
.f-link{
    margin-top: 2rem;
    display: flex;
    justify-content: flex-start;
    gap: initial;
}
.f-link a{
    display: inline-flex;
    gap: 0.5rem;
    align-items: center;
    text-decoration: none;
}
.f-link-btn{
    display: flex;
    gap: 0.25rem;
    padding: 0.625rem 0.617rem; ;
    justify-content: center;
    background-color:#0078d4;
    border-radius: 0.5rem;
    color: var(--light);
}
.f-link-btn span{
    display: flex;
    align-items: center;
}
.f-link-btn span::before{
    content: "";
    font-weight: 400;
    line-height: 1;
    color: #fff;
    font-size: .9375rem;
    font-family: "Fluent Icons";
}
.f-link a .text{
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 1.25rem;
    letter-spacing: -0.032em;
    color: rgb(0, 66, 117);
    margin-top: -1px;
}
/*----------- end of the cards section ----------*/
/*---------------- end of the future section -----------*/
/* --------------mobile view-------------------- */
@media screen and (min-width:375px) {
    #f-f-text{
        margin-top: -3px;
    } 
}
@media screen and (min-width:425px) {
    #f-f-text{
        margin-top: -1px;
    }
}
/* ---------------tablet view------------ */
@media screen  and (min-width:768px) {
    .content{
        padding: 0px 64px;
    }
    .content-4-inner{
        flex-direction: row;
    }
    .feature-content{
        padding-inline: 4em;
    }
    .f-card-container{
        padding-inline: 0 0.25rem;
    }
    .f-para{
        padding-right: 24px;
    }
    #f-f-text{
        margin-top: -3px;
    }
}
/* laptop view */
@media screen and (min-width:1024px) {
    header{
        margin-bottom: 0px;
    }
    .header1-main{
        display: none;
    }
    .header2-main{
        display:flex;
    }
    .nav{
        display: none;
    }
    .home{
        min-height: 630px;
    }
    .home-img{
        position: absolute;
        top: 3px;
        left: 0;
        height: 628px;
        max-height: none;
    }
    .content{
        position: relative;
        z-index: 99;
        background-color:transparent;
        border-bottom: none;
        padding-inline: 56px;
        padding-block: 96px;
    }
    .content-space{
        display: none;
    }
    .content-container{
        margin-top: 3px;
        grid-template-columns: repeat(2,1fr);
    }
    .content-1{
     margin-bottom: 14px;
    }
    .content-2 h1{
        font-size: 40px;
        line-height: 48px;
    }
    .content-3{
        padding-right: 48px;
        margin-top: 24px;
    }
    .content-4{
        margin-top: 32px;
    }
    .content-4-inner a{
        padding: 12px 16px;
    }
    .future-nav1{
        display: none;
    }
    .f-nav-2{
        display: block;
    }
    .feature-content{
        padding: 96px 56px;
    }
    .f-head1{
        margin-bottom: 8px;
    }
    .f-card-container{
        grid-template-columns: repeat(3,1fr);
        margin-top: 48px;
        padding-inline: 0 0.5rem;
        gap: 1rem;
    }
    .f-card{
        border-radius: 1.5rem;
        display: grid;
    }
    .f-image img{
        border-radius: 1rem;
    }
    .f-content-con{
        padding: 24px;
    }
    .f-text-con{
        gap: 1rem;
    }
    .f-para{
        padding-right: 26px;
    }
    #f-text-con3-id{
        margin-top: -24px;
    }
    .f-link{
        margin-top: 48px;
    }
    #f-sec-txt{
        margin-top: -3px;
    }

}